[Unit]
Description=Erigon
After=network.target

[Service]
Type=simple
User={{ erigon_user }}
WorkingDirectory=/home/{{ erigon_user }}
ExecStart=/home/{{ erigon_user }}/erigon/build/bin/{{ erigon_service_executable }} {{ erigon_args }}
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target